repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--", "-D", "warnings"]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff
        name: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/NSPBot911/ty-pre-commit
    rev: v0.0.14
    hooks:
      - id: ty-check
