[package]
name = "datago"
edition = "2021"
version = "2025.3.11"

[lib]
# exposed by pyo3
name = "datago"
path = "src/lib.rs"
crate-type = ["cdylib", "lib"]

[[bin]]
name = "datago"
path = "src/main.rs"

[dependencies]
image = "0.25.5"
reqwest = { version = "0.12.12", features = ["blocking"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "2.5.4"
kanal = "0.1"
clap = { version = "4.5.27", features = ["derive"] }
tokio = { version = "1.43.0", features = ["rt-multi-thread", "macros"] }
prettytable-rs = "0.10.0"
pyo3 = { version = "0.23.4", features = ["extension-module"] }
threadpool = "1.8.1"
openssl = { version = "0.10", features = ["vendored"] }
walkdir = "2.5.0"
num_cpus = "1.16.0"
reqwest-middleware = "0.4.1"
reqwest-retry = "0.7.0"
rand = "0.9.0"

[profile.release]
opt-level = 3  # Optimize for speed
lto = "fat"     # Enable link-time optimization
codegen-units = 1
