# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Install linux deps
      run: |
        sudo apt-get update
        sudo apt-get -y install libvips-dev

    - name: Build
      run: cd src/cmd/main && go build -v main.go

    - name: Test
      run: cd src/tests && go test -v .
